<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
 <web-app>
     <display-name>HW3 (Worker)</display-name>
     
     <servlet>
         <servlet-name>WorkerServlet</servlet-name>
         <servlet-class>edu.upenn.cis455.mapreduce.worker.WorkerServlet</servlet-class>
         <init-param>
           <param-name>storagedir</param-name>
           <param-value>/home/cis455/storage2/</param-value>
         </init-param>
         <init-param>
           <param-name>port</param-name>
           <param-value>8082</param-value>
         </init-param>
         <init-param>
           <param-name>master</param-name>
           <param-value>127.0.0.1:8080</param-value>
         </init-param>
         <load-on-startup>1</load-on-startup>
         
     </servlet>

     <servlet-mapping>
         <servlet-name>WorkerServlet</servlet-name>
         <url-pattern>/runmap</url-pattern>
         <url-pattern>/pushdata</url-pattern>
         <url-pattern>/runreduce</url-pattern>
         
     </servlet-mapping>
</web-app>
